absl-py
alabaster
alembic
asgiref
asn1crypto
astor
astroid
async-generator
async-timeout
attrs
Automat
autopep8
Babel
backcall
bleach
blis
certifi
certipy
cffi
chardet
cloudpickle
colorama
constantly
cryptography
cycler
cymem
decorator
defusedxml
Django
djangorestframework
docutils
en-core-web-sm
entrypoints
-e git+https://github.com/mobolic/facebook-sdk.git@3112bc4aa688ff08c53be725e40a14524498155c#egg=facebook_sdk
ga
gast
grpcio
h5py
helper
hyperlink
idna
imagesize
incremental
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterhub
kaggle
Keras
Keras-Applications
Keras-Preprocessing
keyring
kiwisolver
lazy-object-proxy
lxml
Mako
Markdown
MarkupSafe
matplotlib
mccabe
measurement
mistune
mpmath
murmurhash
mysqlclient
nbconvert
nbformat
nltk
notebook
numpy
numpydoc
oauthlib
opencv-python
packaging
pamela
pandas
pandoc
pandocfilters
parso
pdfminer.six
pickleshare
Pillow
Pint
plac
plotly
ply
preshed
progressbar
prometheus-client
prompt-toolkit
protobuf
psutil
pycodestyle
pycparser
pycryptodome
pyflakes
Pygments
PyHamcrest
pylint
PyMySQL
pyOpenSSL
pyparsing
PyPDF2
PyQt5
pyrsistent
python-dateutil
python-editor
python-slugify
pytz
pywin32
PyYAML
pyzmq
QtAwesom
qtconsole
QtPy
requests
retrying
rope
scikit-learn
scipy
seaborn
Send2Trash
singledispatch
sip
six
sklearn
snowballstemmer
sortedcontainers
spacy
Sphinx
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
srsly
sympy
tensorboard
tensorflow
termcolor
terminado
testpath
thinc
torch
torchvision
tornado
tqdm
traitlets
Unidecode
urllib3
wasabi
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
zope.interface
